/* Name-effect */
.tracking-in-contract {
	-webkit-animation: tracking-in-contract 0.8s cubic-bezier(0.215, 0.610, 0.355, 1.000) both;
	        animation: tracking-in-contract 0.8s cubic-bezier(0.215, 0.610, 0.355, 1.000) both;
            font-size: 65px;
            font-family: "Sofia", sans-serif;
}

 @-webkit-keyframes tracking-in-contract {
    0% {
      letter-spacing: 1em;
      opacity: 0;
    }
    40% {
      opacity: 0.6;
    }
    100% {
      letter-spacing: normal;
      opacity: 1;
    }
  }
  @keyframes tracking-in-contract {
    0% {
      letter-spacing: 1em;
      opacity: 0;
    }
    40% {
      opacity: 0.6;
    }
    100% {
      letter-spacing: normal;
      opacity: 1;
    }
  }
  /* Name-web-effect */
  .tracking-in-contract-bck {
	-webkit-animation: tracking-in-contract-bck 5s cubic-bezier(0.215, 0.610, 0.355, 1.000) both;
	        animation: tracking-in-contract-bck 2.5s cubic-bezier(0.215, 0.610, 0.355, 1.000) both;
}

 @-webkit-keyframes tracking-in-contract-bck {
    0% {
      letter-spacing: 1em;
      -webkit-transform: translateZ(400px);
              transform: translateZ(400px);
      opacity: 0;
    }
    40% {
      opacity: 0.6;
    }
    100% {
      -webkit-transform: translateZ(0);
              transform: translateZ(0);
      opacity: 1;
    }
  }
  @keyframes tracking-in-contract-bck {
    0% {
      letter-spacing: 1em;
      -webkit-transform: translateZ(400px);
              transform: translateZ(400px);
      opacity: 0;
    }
    40% {
      opacity: 0.6;
    }
    100% {
      -webkit-transform: translateZ(0);
              transform: translateZ(0);
      opacity: 1;
    }
  }
  /* About-pic */

  .reveal.txt{
    transform: translateY(0);
    opacity: 0;
        -webkit-animation: puff-in-center 1s cubic-bezier(0.470, 0.000, 0.745, 0.715) both;
                animation: puff-in-center 1s cubic-bezier(0.470, 0.000, 0.745, 0.715) both;
  }

@-webkit-keyframes puff-in-center {
    0% {
      -webkit-transform: scale(2);
              transform: scale(2);
      -webkit-filter: blur(4px);
              filter: blur(4px);
      opacity: 0;
    }
    100% {
      -webkit-transform: scale(1);
              transform: scale(1);
      -webkit-filter: blur(0px);
              filter: blur(0px);
      opacity: 1;
    }
  }
  @keyframes puff-in-center {
    0% {
      -webkit-transform: scale(2);
              transform: scale(2);
      -webkit-filter: blur(4px);
              filter: blur(4px);
      opacity: 0;
    }
    100% {
      -webkit-transform: scale(1);
              transform: scale(1);
      -webkit-filter: blur(0px);
              filter: blur(0px);
      opacity: 1;
    }
  }
  
 /* Service-box */
  .text-pop-up-top {
	-webkit-animation: text-pop-up-top 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
	        animation: text-pop-up-top 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
}
 @-webkit-keyframes text-pop-up-top {
    0% {
      -webkit-transform: translateY(0);
              transform: translateY(0);
      -webkit-transform-origin: 50% 50%;
              transform-origin: 50% 50%;
      text-shadow: none;
    }
    100% {
      -webkit-transform: translateY(-50px);
              transform: translateY(-50px);
      -webkit-transform-origin: 50% 50%;
              transform-origin: 50% 50%;
      text-shadow: 0 1px 0 #cccccc, 0 2px 0 #cccccc, 0 3px 0 #cccccc, 0 4px 0 #cccccc, 0 5px 0 #cccccc, 0 6px 0 #cccccc, 0 7px 0 #cccccc, 0 8px 0 #cccccc, 0 9px 0 #cccccc, 0 50px 30px rgba(0, 0, 0, 0.3);
    }
  }
  @keyframes text-pop-up-top {
    0% {
      -webkit-transform: translateY(0);
              transform: translateY(0);
      -webkit-transform-origin: 50% 50%;
              transform-origin: 50% 50%;
      text-shadow: none;
    }
    100% {
      -webkit-transform: translateY(-50px);
              transform: translateY(-50px);
      -webkit-transform-origin: 50% 50%;
              transform-origin: 50% 50%;
      text-shadow: 0 1px 0 #cccccc, 0 2px 0 #cccccc, 0 3px 0 #cccccc, 0 4px 0 #cccccc, 0 5px 0 #cccccc, 0 6px 0 #cccccc, 0 7px 0 #cccccc, 0 8px 0 #cccccc, 0 9px 0 #cccccc, 0 50px 30px rgba(0, 0, 0, 0.3);
    }
  }
  /* background-wave-effect*/
  @keyframes move_wave {
    0% {
        transform: translateX(0) translateZ(0) scaleY(1)
    }
    50% {
        transform: translateX(-25%) translateZ(0) scaleY(0.55)
    }
    100% {
        transform: translateX(-50%) translateZ(0) scaleY(1)
    }
}
.waveWrapper {
    overflow: hidden;
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    top: 0;
    margin: auto;
}
.waveWrapperInner {
    position: absolute;
    width: 300%;
    height:50px;
    height: 100%;
    bottom: -1px;
    background-repeat: no-repeat;

}
.bgTop {
    z-index: 15;
    opacity: 0.5;
}
.bgMiddle {
    z-index: 10;
    opacity: 0.75;
}
.bgBottom {
    z-index: 5;
}
.wave1 {
    position: absolute;
    left: 0;
    width: 100%;
    height: 100%;
    background-repeat: repeat no-repeat;
    background-position: top top;
    transform-origin: center top;
    margin-top: -30px;
}

.wave {
  position: absolute;
  left: 0;
  width: 100%;
  height: 100%;
  background-repeat: repeat no-repeat;
  background-position: 0 bottom;
  transform-origin: center bottom;
}
.wave2 {
  position: absolute;
  left: 0;
  width: 100%;
  height: 100%;
  background-repeat: repeat no-repeat;
  background-position: 0 bottom;
  transform-origin: center bottom;
}
.waveTop {
    background-size: 50% 100px;
}
.waveAnimation .waveTop {
  animation: move-wave 3s;
   -webkit-animation: move-wave 3s;
   -webkit-animation-delay: 1s;
   animation-delay: 1s;
}
.waveMiddle {
    background-size: 50% 120px;
}
.waveAnimation .waveMiddle {
    animation: move_wave 10s linear infinite;
}
.waveBottom {
    background-size: 50% 100px;
}
.waveAnimation .waveBottom {
    animation: move_wave 15s linear infinite;
}




.body1, button {
  font: 1em/0.5 -apple-system, BlinkMacSystemFont, Roboto, "Helvetica Neue", Helvetica, sans-serif;
}

.body1 {

  font-size: 30px;
  height: 100vh;
  display: grid;
  place-items: center;
}

.btn__text,
.effects {
  position: absolute;
  top: 0;
  left: 0;

}

.btn1 {
  border-color: white;
  font-family: "Kalam", sans-serif;

  border-radius:50px;
  color: rgb(0, 0, 0);
  font-weight: bold;
  -webkit-filter: url("#fire");
  filter: url("#fire");
  position: relative;
  width: 5em;
  height: 1.5em;
  transition: transform 0.1s linear;
  -webkit-apperance: none;
  appearance: none;
}
.btn__p, .btn__text {
  background: #00ffc3;
  border-radius: 50px;
  transition: background 0.15s linear;
}
.btn__p {
  animation-duration: 1s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
  pointer-events: none;
  position: absolute;
  width: 0.5em;
  height: 0.5em;
}
.btn__p:nth-child(1) {
  animation-name: rise1;
  animation-delay: -0.64s;
  top: calc(50% - 0.39079em);
  left: 0.1em;
}
.btn__p:nth-child(2) {
  animation-name: rise2;
  animation-delay: -0.08s;
  top: calc(50% - 0.52812em);
  left: 3em;
}
.btn__p:nth-child(3) {
  animation-name: rise3;
  animation-delay: -0.12s;
  top: calc(50% - 0.65859em);
  left: 3em;
}
.btn__p:nth-child(4) {
  animation-name: rise4;
  animation-delay: -0.25s;
  top: calc(50% - 0.77901em);
  left: 0.4em;
}
.btn__p:nth-child(5) {
  animation-name: rise5;
  animation-delay: -0.66s;
  top: calc(50% - 0.8864em);
  left: 0.5em;
}
.btn__p:nth-child(6) {
  animation-name: rise6;
  animation-delay: -0.97s;
  top: calc(50% - 0.97812em);
  left: 3.2em;
}
.btn__p:nth-child(7) {
  animation-name: rise7;
  animation-delay: -0.88s;
  top: calc(50% - 1.05191em);
  left: 0.7em;
}
.btn__p:nth-child(8) {
  animation-name: rise8;
  animation-delay: -0.46s;
  top: calc(50% - 1.10595em);
  left: 0.8em;
}
.btn__p:nth-child(9) {
  animation-name: rise9;
  animation-delay: -0.15s;
  top: calc(50% - 1.13892em);
  left: 0.9em;
}
.btn__p:nth-child(10) {
  animation-name: rise10;
  animation-delay: -0.03s;
  top: calc(50% - 1.15em);
  left: 1em;
}
.btn__p:nth-child(11) {
  animation-name: rise11;
  animation-delay: -0.03s;
  top: calc(50% - 1.13892em);
  left: 1.1em;
}
.btn__p:nth-child(12) {
  animation-name: rise12;
  animation-delay: -0.44s;
  top: calc(50% - 1.10595em);
  left: 1.2em;
}
.btn__p:nth-child(13) {
  animation-name: rise13;
  animation-delay: -0.79s;
  top: calc(50% - 1.05191em);
  left: 1.3em;
}
.btn__p:nth-child(14) {
  animation-name: rise14;
  animation-delay: -0.45s;
  top: calc(50% - 0.97812em);
  left: 1.4em;
}
.btn__p:nth-child(15) {
  animation-name: rise15;
  animation-delay: -0.06s;
  top: calc(50% - 0.8864em);
  left: 1.5em;
}
.btn__p:nth-child(16) {
  animation-name: rise16;
  animation-delay: -0.63s;
  top: calc(50% - 0.77901em);
  left: 1.6em;
}
.btn__p:nth-child(17) {
  animation-name: rise17;
  animation-delay: -0.43s;
  top: calc(50% - 0.65859em);
  left: 1.7em;
}
.btn__p:nth-child(18) {
  animation-name: rise18;
  animation-delay: -0.7s;
  top: calc(50% - 0.52812em);
  left: 1.8em;
}
.btn__p:nth-child(19) {
  animation-name: rise19;
  animation-delay: -0.34s;
  top: calc(50% - 0.39079em);
  left: 1.9em;
}
.btn__p:nth-child(20) {
  animation-name: rise20;
  animation-delay: -0.69s;
  top: calc(50% - 0.25em);
  left: 2em;
}
.btn__text {
  display: block;
  padding: 0.5em;
  width: 100%;
  height: 100%;
  z-index: 1;
}
.btn:active {
  transform: translateY(0.1em);
}
.btn:focus .btn__p, .btn:focus .btn__text, .btn:hover .btn__p, .btn:hover .btn__text {
  background: #f46325;
}
.btn:focus .btn__p, .btn:hover .btn__p {
  animation-duration: 0.5s;
}
.btn:focus .btn__p:nth-child(1), .btn:hover .btn__p:nth-child(1) {
  animation-delay: -0.32s;
}
.btn:focus .btn__p:nth-child(2), .btn:hover .btn__p:nth-child(2) {
  animation-delay: -0.04s;
}
.btn:focus .btn__p:nth-child(3), .btn:hover .btn__p:nth-child(3) {
  animation-delay: -0.06s;
}
.btn:focus .btn__p:nth-child(4), .btn:hover .btn__p:nth-child(4) {
  animation-delay: -0.125s;
}
.btn:focus .btn__p:nth-child(5), .btn:hover .btn__p:nth-child(5) {
  animation-delay: -0.33s;
}
.btn:focus .btn__p:nth-child(6), .btn:hover .btn__p:nth-child(6) {
  animation-delay: -0.485s;
}
.btn:focus .btn__p:nth-child(7), .btn:hover .btn__p:nth-child(7) {
  animation-delay: -0.44s;
}
.btn:focus .btn__p:nth-child(8), .btn:hover .btn__p:nth-child(8) {
  animation-delay: -0.23s;
}
.btn:focus .btn__p:nth-child(9), .btn:hover .btn__p:nth-child(9) {
  animation-delay: -0.075s;
}
.btn:focus .btn__p:nth-child(10), .btn:hover .btn__p:nth-child(10) {
  animation-delay: -0.015s;
}
.btn:focus .btn__p:nth-child(11), .btn:hover .btn__p:nth-child(11) {
  animation-delay: -0.015s;
}
.btn:focus .btn__p:nth-child(12), .btn:hover .btn__p:nth-child(12) {
  animation-delay: -0.22s;
}
.btn:focus .btn__p:nth-child(13), .btn:hover .btn__p:nth-child(13) {
  animation-delay: -0.395s;
}
.btn:focus .btn__p:nth-child(14), .btn:hover .btn__p:nth-child(14) {
  animation-delay: -0.225s;
}
.btn:focus .btn__p:nth-child(15), .btn:hover .btn__p:nth-child(15) {
  animation-delay: -0.03s;
}
.btn:focus .btn__p:nth-child(16), .btn:hover .btn__p:nth-child(16) {
  animation-delay: -0.315s;
}
.btn:focus .btn__p:nth-child(17), .btn:hover .btn__p:nth-child(17) {
  animation-delay: -0.215s;
}
.btn:focus .btn__p:nth-child(18), .btn:hover .btn__p:nth-child(18) {
  animation-delay: -0.35s;
}
.btn:focus .btn__p:nth-child(19), .btn:hover .btn__p:nth-child(19) {
  animation-delay: -0.17s;
}
.btn:focus .btn__p:nth-child(20), .btn:hover .btn__p:nth-child(20) {
  animation-delay: -0.345s;
}

/* Dark theme */
@media (prefers-color-scheme: dark) {
  :root {
    --bg: #17181c;
    --fg: #e3e4e8;
  }
}
/* Animations */
@keyframes rise1 {
  from {
    transform: translate(0em, 0) scale(1);
  }
  50% {
    transform: translate(-0.082em, -1.38em) scale(1);
  }
  to {
    transform: translate(0.185em, -2.76em) scale(0);
  }
}
@keyframes rise2 {
  from {
    transform: translate(0em, 0) scale(1);
  }
  50% {
    transform: translate(0.088em, -0.93em) scale(1);
  }
  to {
    transform: translate(0em, -1.86em) scale(0);
  }
}
@keyframes rise3 {
  from {
    transform: translate(0em, 0) scale(1);
  }
  50% {
    transform: translate(0.038em, -1.26em) scale(1);
  }
  to {
    transform: translate(-0.025em, -2.52em) scale(0);
  }
}
@keyframes rise4 {
  from {
    transform: translate(0em, 0) scale(1);
  }
  50% {
    transform: translate(-0.05em, -0.71em) scale(1);
  }
  to {
    transform: translate(0.08em, -1.42em) scale(0);
  }
}
@keyframes rise5 {
  from {
    transform: translate(0em, 0) scale(1);
  }
  50% {
    transform: translate(-0.086em, -0.68em) scale(1);
  }
  to {
    transform: translate(0.045em, -1.36em) scale(0);
  }
}
@keyframes rise6 {
  from {
    transform: translate(0em, 0) scale(1);
  }
  50% {
    transform: translate(0.084em, -1.41em) scale(1);
  }
  to {
    transform: translate(0.25em, -2.82em) scale(0);
  }
}
@keyframes rise7 {
  from {
    transform: translate(0em, 0) scale(1);
  }
  50% {
    transform: translate(0.052em, -1.37em) scale(1);
  }
  to {
    transform: translate(0.075em, -2.74em) scale(0);
  }
}
@keyframes rise8 {
  from {
    transform: translate(0em, 0) scale(1);
  }
  50% {
    transform: translate(-0.016em, -0.51em) scale(1);
  }
  to {
    transform: translate(0.02em, -1.02em) scale(0);
  }
}
@keyframes rise9 {
  from {
    transform: translate(0em, 0) scale(1);
  }
  50% {
    transform: translate(-0.02em, -1.15em) scale(1);
  }
  to {
    transform: translate(0.07em, -2.3em) scale(0);
  }
}
@keyframes rise10 {
  from {
    transform: translate(0em, 0) scale(1);
  }
  50% {
    transform: translate(0.026em, -1.04em) scale(1);
  }
  to {
    transform: translate(0.04em, -2.08em) scale(0);
  }
}
@keyframes rise11 {
  from {
    transform: translate(0em, 0) scale(1);
  }
  50% {
    transform: translate(0.028em, -1.15em) scale(1);
  }
  to {
    transform: translate(-0.06em, -2.3em) scale(0);
  }
}
@keyframes rise12 {
  from {
    transform: translate(0em, 0) scale(1);
  }
  50% {
    transform: translate(-0.078em, -1.36em) scale(1);
  }
  to {
    transform: translate(0.14em, -2.72em) scale(0);
  }
}
@keyframes rise13 {
  from {
    transform: translate(0em, 0) scale(1);
  }
  50% {
    transform: translate(-0.014em, -1.32em) scale(1);
  }
  to {
    transform: translate(-0.105em, -2.64em) scale(0);
  }
}
@keyframes rise14 {
  from {
    transform: translate(0em, 0) scale(1);
  }
  50% {
    transform: translate(0.046em, -0.82em) scale(1);
  }
  to {
    transform: translate(-0.125em, -1.64em) scale(0);
  }
}
@keyframes rise15 {
  from {
    transform: translate(0em, 0) scale(1);
  }
  50% {
    transform: translate(-0.02em, -0.88em) scale(1);
  }
  to {
    transform: translate(0.04em, -1.76em) scale(0);
  }
}
@keyframes rise16 {
  from {
    transform: translate(0em, 0) scale(1);
  }
  50% {
    transform: translate(0.084em, -1.19em) scale(1);
  }
  to {
    transform: translate(0.175em, -2.38em) scale(0);
  }
}
@keyframes rise17 {
  from {
    transform: translate(0em, 0) scale(1);
  }
  50% {
    transform: translate(-0.082em, -0.85em) scale(1);
  }
  to {
    transform: translate(-0.065em, -1.7em) scale(0);
  }
}
@keyframes rise18 {
  from {
    transform: translate(0em, 0) scale(1);
  }
  50% {
    transform: translate(0.068em, -0.68em) scale(1);
  }
  to {
    transform: translate(-0.125em, -1.36em) scale(0);
  }
}
@keyframes rise19 {
  from {
    transform: translate(0em, 0) scale(1);
  }
  50% {
    transform: translate(-0.04em, -0.97em) scale(1);
  }
  to {
    transform: translate(0em, -1.94em) scale(0);
  }
}
@keyframes rise20 {
  from {
    transform: translate(0em, 0) scale(1);
  }
  50% {
    transform: translate(0.046em, -1.47em) scale(1);
  }
  to {
    transform: translate(0.02em, -2.94em) scale(0);
  }
}

